@model billingapp.tbl_customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbl_customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.cust_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cust_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cust_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cust_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cust_contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cust_contact)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cust_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
