@model billingapp.tbl_order

@{
    ViewBag.Title = "viewbill_cust";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>viewbill_cust</h2>

<div>
    <h4>tbl_order</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.tbl_customer.cust_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_customer.cust_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_customer.cust_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_customer.cust_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_customer.cust_contact)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_customer.cust_contact)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.tbl_product.product_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_product.product_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.prod_qty)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.prod_qty)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tbl_product.product_price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbl_product.product_price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.order_date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.order_date)
        </dd>

        





    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "orderbyproduct")
</p>
